# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local environment variables
.env.*
.env.local
.env


# Frontend build tools
node_modules/
frontend/dist/

# local cache database
*.sqlite
.cache.sqlite

database/export_database.py
database/backfill_database.py

location_update

.vscode/settings.json