# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local environment variables
.env.*
.env.local


# Frontend build tools
node_modules/
frontend/dist/

# local cache database
*.sqlite
.cache.sqlite
