fastapi==0.138.0
joblib==1.5.2
numpy==2.5.0
openmeteo_requests==1.7.5
pandas==3.0.3
pydantic==2.13.4
python-dotenv==1.2.2
Requests==2.34.2
requests_cache==1.3.2
retry_requests==2.0.0
supabase==2.31.0
uvicorn==0.49.0
