@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=DM+Mono:wght@400;500&display=swap');

@theme {
  --font-syne: "Syne", sans-serif;
  --font-dm: "DM Mono", monospace;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}